#body {
	display: flex;
	  background-image: url("https://media.giphy.com/media/26Ffgl9MKk2y6Oor6/giphy.gif");
  background-repeat: no repeat;
}
#table{
	border: 2px solid black;
}

a:hover {
  color: blue;
}

@font-face {
  font-family: myFirstFont;
  font-weight: bold;
}